
@using CatalcaliWebAppV2.Models
@model IEnumerable<ProductModel>


@foreach (var item in Model)
{
    <div class="col-md-4 col-md-4 col-md-4">
        <div class="product__item">
            <div class="product__item__pic">
                <img src="~/Areas/Admin/Upload/Product/@item.Image" />
                @Html.ActionLink("Sepete Ekle", "AddToCart", "Cart", new { ProductId = item.ProductId }, new { @class = "product__item__button btn btn-outline-success waves-effect" })
            </div>
            <hr />
            <div class="product__item__text">
                <h6><a href="@Url.Action("Details", "Home", new { name = @Url.FriendlyURLTitles(item.Name), id = item.ProductId })">@item.Name</a></h6>
                <h5>@item.Price.ToString("N") ₺ </h5>
            </div>
            <hr />
        </div>
    </div>
}
