@using CatalcaliWebAppV2.Entities
@model CatalcaliWebAppV2.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #divId {
        border-top: 1px solid #c00;
        border-bottom: 1px solid #c00;
    }
</style>

<h2>Sipariş Detay Bilgileri</h2>
<hr />
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        @TempData["message"]
    </div>
}

<dl class="row">
    <dt class="col-sm-2">Sipariş Durumu</dt>
    <dd class="col-sm-10">
        @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
        {
            @Html.HiddenFor(i => i.OrderId)

            <dl class="row">
                <dt class="col-sm-8">
                    @Html.EnumDropDownListFor(i => i.OrderState, new { @class = "form-control" })
                </dt>
                <dd class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </dd>
            </dl>
        }
    </dd>

    <dt class="col-sm-2">İsim Soyisim</dt>
    <dd class="col-sm-10">@Model.İsim @Model.Soyisim</dd>

    <dt class="col-sm-2">Sipariş ID</dt>
    <dd class="col-sm-10">@Model.OrderId</dd>

    <dt class="col-sm-2">Sipariş Numarası</dt>
    <dd class="col-sm-10">@Model.OrderNumber</dd>

    <dt class="col-sm-2">Toplam</dt>
    <dd class="col-sm-10"><i class="fa fa-try" aria-hidden="true"></i>@Model.Total.ToString("c")</dd>

    <dt class="col-sm-2">Sipariş Tarihi</dt>
    <dd class="col-sm-10">@Model.OrderDate</dd>

    <dt class="col-sm-2">Adres Başlığı</dt>
    <dd class="col-sm-10">@Model.AdresBasligi</dd>

    <dt class="col-sm-2">Şehir</dt>
    <dd class="col-sm-10">@Model.Sehir</dd>

    <dt class="col-sm-2">İlçe</dt>
    <dd class="col-sm-10">@Model.İlce</dd>

    <dt class="col-sm-2">Adres</dt>
    <dd class="col-sm-10">@Model.Adres</dd>

    <dt class="col-sm-2">Telefon</dt>
    <dd class="col-sm-10">@Model.Telefon</dd>

    <dt class="col-sm-2">E-Posta</dt>
    <dd class="col-sm-10">@Model.Eposta</dd>

    <dt class="col-sm-2">Posta Kodu</dt>
    <dd class="col-sm-10">@Model.PostaKodu</dd>

    <dt class="col-sm-2">Sipariş Notu</dt>
    <dd class="col-sm-10">@Model.OrderNote</dd>

</dl>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fotoğraf</th>
            <th style="width: 45%;">Ürün Adı</th>
            <th>Miktar</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orderlines)
        {
            <tr>
                <td>
                    <img src="~/Areas/Admin/Upload/Product/@item.Image" width="80" height="80" class="img-thumbnail" />
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    <i class="fa fa-try" aria-hidden="true"></i>
                    @item.Price.ToString("c")
                </td>
            </tr>
        }
    </tbody>
</table>

